version: '3.1'
services:
  db:
    image: mysql:5.7
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: unless-stopped 
    stop_grace_period: 1m30s
    env_file:
      - docker-compose.env
    volumes:
      - db:/var/lib/mysql
    ports:
      - ${DB_PORT}:3306

  seek:
    image: ghcr.io/nfdi4health/ldh:latest
    command: docker/entrypoint.sh
    restart: unless-stopped
    environment:
      RAILS_ENV: production
      SOLR_PORT: 8983
      SOLR_HOST: solr
      NO_ENTRYPOINT_WORKERS: 1
    env_file:
      - docker-compose.env
    volumes:
      - filestore:/seek/filestore
      - cache:/seek/tmp/cache
    ports:
      - ${SEEK_PORT}:3000
    depends_on:
      - db
      - solr
    links:
      - db
      - solr

  workers:
    image: ghcr.io/nfdi4health/ldh:latest
    command: docker/start_workers.sh
    restart: unless-stopped
    environment:
      RAILS_ENV: production
      SOLR_PORT: 8983
      SOLR_HOST: solr
      RAILS_RELATIVE_URL_ROOT: "/"
    env_file:
      - docker-compose.env
    volumes:
      - filestore:/seek/filestore
      - cache:/seek/tmp/cache
    depends_on:
      - db
      - solr
    links:
      - db
      - solr

  solr:
    image: fairdom/seek-solr:8.11
    restart: unless-stopped
    environment:
      SOLR_JAVA_MEM: -Xms512m -Xmx1024m
      GC_TUNE: "-XX:-UseLargePages"
      LOG4J_FORMAT_MSG_NO_LOOKUPS: "true"
    volumes:
      - solr:/var/solr/
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - seek
      - /opt/solr/server/solr/configsets/seek_config      

volumes:
  filestore:
    name: ${COMPOSE_PROJECT_NAME}_filestore
    external: true
  db:
    name: ${COMPOSE_PROJECT_NAME}_db
    external: true
  solr:
    external: false
  cache:
    external: false

